<div class="row">
  <div class="col-md-12 col-md-offset-1">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %>  alert-dismissible " role="alert"">
        <%= msg %>
        <a href="#" class="close" data-bs-dismiss="alert">×</a>
      </div>
    <% end %>
  </div>
</div>
